{{ define "main" }}
<div class="content">
  <div class="container">
    <div id="home" class="home">
      <h1 class="pageTitle">{{ .Title }}</h1>
      <div class="posts noList">
        {{ $lang := .Lang }}
        {{ $dateFormat := i18n "date_format" }}
        {{ $posts := where .Site.RegularPages "Type" "post" }}
        {{ $posts := where $posts "Lang" $lang }}
        {{ $paginator := .Paginate $posts 5 }}
        {{ range $paginator.Pages }}
          <article>
            <span class="date">{{ .Date.Format $dateFormat }}</span>
            <h3>
              <a class="post-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
            </h3>
            <div class="meta-small">
              {{ with .Params.category }}
                <span class="category"><strong>{{ i18n "category" }}:</strong> {{ . }}</span>
              {{ end }}
              {{ with .Params.tags }}
                <span class="tags"><strong>{{ i18n "tags" }}:</strong> {{ delimit . ", " }}</span>
              {{ end }}
            </div>
            <p>
              {{ with .Params.description }}
                {{ . }}
              {{ else }}
                {{ .Summary | plainify }}
              {{ end }}
            </p>
          </article>
        {{ end }}
      </div>
      <div class="pagination">
        {{ if $paginator.HasPrev }}
          <a class="previous button__outline" href="{{ $paginator.Prev.URL }}">{{ i18n "pagination_prev" }}</a>
        {{ end }}
        {{ if $paginator.HasNext }}
          <a class="next button__outline" href="{{ $paginator.Next.URL }}">{{ i18n "pagination_next" }}</a>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}