{{ define "main" }}
<main class="content">
  <div class="container">
    <article class="post">
      <div>
        <h1 class="postTitle">{{ .Title }}</h1>
        <p class="meta">
          {{ .Date.Format "Jan 2, 2006" }}
          | <span class="time">{{ math.Ceil (div (countwords .Content) 180.0) }}</span> {{ i18n (cond (eq (math.Ceil (div (countwords .Content) 180.0)) 1) "minute_read_singular" "minute_read_plural") }}
          {{ with .Translations }}
          | {{ i18n "translations" }}:
            {{ range . }}
              <a href="{{ .RelPermalink }}">{{ .Lang | upper }}</a>
            {{ end }}
          {{ end }}
          {{ with .Params.tags }}
          |
            {{ range . }}
              <a href="/tags/{{ . | urlize }}/">#{{ . }}</a>
            {{ end }}
          {{ end }}
        </p>
      </div>
      {{ .Content }}
    </article>
  </div>
</main>
{{ end }}
