<!-- Head partial: add meta, title, styles, etc. -->
<title>{{ .Title }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ if .IsHome }}
  <meta name="description" content="{{ .Site.Params.description }}">
{{ end }}
<meta property="og:title" content="{{ .Title | default .Site.Title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="{{ .Site.BaseURL }}img/ione-souza-junior.png" />
<meta property="og:description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
<meta property="og:locale" content="{{ .Site.Language.Lang | default "en_US" }}" />
{{ $styles := resources.Get "main.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}">
