<!-- Head partial: add meta, title, styles, etc. -->
<title>{{ .Title }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ if .IsHome }}
  <meta name="description" content="{{ .Site.Params.description }}">
{{ end }}
<meta property="og:title" content="{{ .Title | default .Site.Title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="{{ with .Params.image }}{{ . | absURL }}{{ else }}{{ .Site.BaseURL }}img/cards/ione-souza-junior-mobile-engineer.webp{{ end }}" />
{{ if and (eq .Kind "page") (eq .Type "post") }}
  {{ $firstParagraph := findRE "<p>(.*?)</p>" .Content }}
  {{ if gt (len $firstParagraph) 0 }}
    <meta property="og:description" content="{{ (index $firstParagraph 0) | plainify }}" />
  {{ else }}
    <meta property="og:description" content="{{ .Summary | plainify }}" />
  {{ end }}
{{ else }}
  <meta property="og:description" content="{{ .Site.Params.description }}" />
{{ end }}
<meta property="og:locale" content="{{ .Site.Language.Lang | default "en_US" }}" />
<meta property="og:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ .Title | default .Site.Title }}">
{{ if and (eq .Kind "page") (eq .Type "post") }}
  {{ $firstParagraph := findRE "<p>(.*?)</p>" .Content }}
  {{ if gt (len $firstParagraph) 0 }}
    <meta name="twitter:description" content="{{ (index $firstParagraph 0) | plainify }}" />
  {{ else }}
    <meta name="twitter:description" content="{{ .Summary | plainify }}" />
  {{ end }}
{{ else }}
  <meta name="twitter:description" content="{{ .Site.Params.description }}" />
{{ end }}
<meta name="twitter:image" content="{{ with .Params.image }}{{ . | absURL }}{{ else }}{{ .Site.BaseURL }}img/cards/ione-souza-junior-mobile-engineer.webp{{ end }}">
<!-- Optionally add your Twitter handle below -->
<!-- <meta name="twitter:site" content="@your_twitter_handle"> -->
{{ $styles := resources.Get "main.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}">
