<article>
  <h3>
    <a class="post-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h3>
  <p class="meta-small">
    <span>{{ .Date.Format (i18n "date_format") }}</span>
    {{ with .Params.categories }}
      <span>| {{ i18n "category" }}: <a href="{{ (print "/categories/" (urlize (index . 0))) | relLangURL }}">{{ index . 0 }}</a></span>
    {{ end }}
    {{ with .Params.tags }}
      <span>| {{ i18n "tags" }}:
        {{ range . }}
          <a href="{{ (print "/tags/" (urlize .)) | relLangURL }}">#{{ . }}</a>
        {{ end }}
      </span>
    {{ end }}
  </p>
  <p>
    {{ with .Params.description }}
      {{ . }}
    {{ else }}
      {{ .Summary | plainify }}
    {{ end }}
  </p>
</article>
